header {
  position:sticky;
  overflow:hidden;
  background:  lightBlue;
  color: black;
}
header a {
  float: left;
  color: black;
  text-align: center;
  padding:20px 10px;
  text-decoration: none;
  font-size: 22px;
  line-height: 35px;
  color:DarkSlateGray;
  font-family:Georgia;
}
header a:hover {
  background-color:LightSteelBlue;
  
}
.header-right {
  float: right;
}
.logo{
	
	border:0;
	padding:0;
	
}
.logoimg {
position:absolute;
  width:130px;
  height:75px;
}
main {
	
	overflow:hidden;
	
}
.about {
	
	background:lightBlue;
    bottom: -45px;
    color: DarkSlateGray;
    cursor: pointer;
    height: 35px;
    font-weight: 700;
    left: 0;
    line-height: 35px;
    position: absolute;
    text-align: center;
    width: 100%;
    z-index: 1;
    
   
}
.about-button
{
	background: lightBlue;
	color:DarkSlateGray;
	border:0;
	font-weight: 700;
	cursor: pointer;
	
	
}
.about-button:hover{
	position:relative;
	bottom:50px;
	width:100%;
	height:50px;
	
	
}
.about-button:hover:after
{ 
	content:'APaX is a site.' ;
	text-align:right;
	
}
table {
	 padding-top: 12px;
  padding-bottom: 12px;
	border: 1px solid black;
	border-collapse:collapse;
	position:relative;
	top:250px;
	left:150px;
	
}
table th
{ background-color:lightBlue;
padding-top: 12px;
  padding-bottom: 12px;
  padding-left:12px;
  padding-right:12px;
border: 1px solid #ddd;
  color: DarkSlateGray;
	
}

table td
{padding-top: 10px;
  padding-bottom: 10px;
  padding-left:10px;
  padding-right:10px;
	border: 1px solid #ddd;
	color:DarkSlateGray;
}



/*
button.wtf
{position:absolute;
	top:300px;
	
}*/

.cascada{
    display:inline-block;
    position:absolute;
	
  }
  .cascada button{
	color:DarkSlateGray;
    position:relative;
    top:60px;
    left:10px;
    border:inset;
    padding:15px 25px;
    background-color:lightBlue;
    font-family: 'Palatino';
    font-size:20px;
    cursor:pointer;
    border-radius: 7px;
	

  }
  
  .cascada:hover button{
    background-color:LightSteelBlue;
  }
  
  .cascada div{
	  
    background-color:#fff;
    box-shadow:0 6px 9px rgba(0,0,0,0.2);
    z-index:1;
    visibility:hidden;
    position:relative;
    top:60px;
    left:10px;
    min-width:100%;
    opacity:1;
    transition:.3s;
  }
  .cascada:hover div{
    visibility:visible;
    opacity:1;
  }
  .cascada div a{
    display:block;
    text-decoration:none;
    padding:6px;
    color:#000;
    transition:.1s;
    white-space:nowrap;
  } 
  .cascada div a:hover{
    background-color:LightSteelBlue;
    color:#fff;
  } 
  
  
  
  

.cascada2{
    display:inline-block;
    position:absolute;
	
  }
  .cascada2 button{
	color:DarkSlateGray;
    position:relative;
    top:60px;
    left:250px;
    border:inset;
    padding:15px 25px;
    background-color:lightBlue;
    font-family: 'Palatino';
    font-size:20px;
    cursor:pointer;
    border-radius: 7px;
	

  }
  
  .cascada2:hover button{
    background-color:LightSteelBlue;
  }
  
  .cascada2 div{
	  
    background-color:#fff;
    box-shadow:0 6px 9px rgba(0,0,0,0.2);
    z-index:1;
    visibility:hidden;
    position:relative;
    top:60px;
    left:250px;
    min-width:100%;
    opacity:1;
    transition:.3s;
  }
  .cascada2:hover div{
    visibility:visible;
    opacity:1;
  }
  .cascada2 div a{
    display:block;
    text-decoration:none;
    padding:6px;
    color:#000;
    transition:.1s;
    white-space:nowrap;
  } 
  .cascada2 div a:hover{
    background-color:LightSteelBlue;
    color:#fff;
  } 
  
  .formular
  { position:absolute;
  top:100px;
  left:10px;
	  font-size: 17px; 
  	line-height: 35px;
  	color:DarkSlateGray;
  	font-family:Georgia;
  	text-decoration-style: solid;
  }
  
  
  input[type=submit]{
	background-color:lightBlue;
	color: DarkSlateGray;
	font-family: 'Palatino';
	font-size :17px;
	border-radius: 6px;
	width: 10%;
	padding: 10px 10px;
  	margin: 10px 630px;
  	cursor:pointer;
  	border-style: 1 px solid;
  	border-color: DarkSlateGray;
}
input[type=submit]:hover {
  background-color:LightSteelBlue;
}
input[type=text], select {
  width: 20%;
  padding: 10px 10px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 15px
}
