body {
  background-color:black;
  color:rgb(255, 255, 255);
  font-family: 'Roboto', sans-serif;
}
/*HOME*/
.slides {
	width:100%;
	height:720px;
	overflow: auto;
}
.text-acasa{
	position: absolute;
	top: 5%;
	left:40%;
	/*transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);padding: 10px;*/
	font-size: 40px;
	padding: 12px 24px;
	cursor: pointer;
	text-align: center;
    color: #0099CC;
  
}
.dark-mode-home {
  position: absolute;
  top: 85%;
  left: 5%;
  font-size: 40px;
  padding: 12px 24px;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
  background-color: #0099CC;
  color: #e8ffca;
  border: #a2e9ff;
}
.dark-mode-home:hover{
	border-radius: 20px;
	background-color: #e8ffca;
	color:  #003399;
	opacity: 2;
}
.buton1, .buton2, .buton3{
	position: absolute;
	top: 85%;
	left: 25%;
	font-size: 40px;
	padding: 12px 24px;
	cursor: pointer;
  	border-radius: 5px;
  	text-align: center;
  	background-color: #0099CC;
	color: #e8ffca;
	border: #a2e9ff;
}
.buton1:hover, .buton2:hover, .buton3:hover{

	border-radius: 20px;
	background-color: #e8ffca;
	color:  #003399;
	opacity: 2;
	text-align: center;
}
.buton2{
	left: 55%;
}
.buton3{
	left:75%;
}
/* sursa:https://www.w3schools.com/howto/howto_css_loader.asp */

#loader {
	border: 16px solid #f3f3f3;
	border-radius: 50%;
	border-top: 16px solid blue;
	border-bottom: 16px solid blue;
	width: 50px;
	height: 50px;
	-webkit-animation: spin 2s linear infinite;
	animation: spin 2s linear infinite;
  }
  
  @-webkit-keyframes spin {
	0% { -webkit-transform: rotate(0deg); }
	100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
  }

#chart {
  padding: 20px;
}

  .bar-chart {
	margin:auto;
	/* width: 100%; */
	height: 100px;
  }

.charttitle {
  text-align: center;
}

.bars td {
  vertical-align: bottom;
}

.bars div:hover {
  opacity: 0.6;
}


.legbox {
  display: block;
  clear: both;
}

.xaxisname {
  margin: 5px;
  color: #fff;
  font-size: 77%;
  padding: 5px;
  float: left;
}


/*Flat UI colors*/

.one {
  background: #16A085;
}

.two {
  background: #2ECC71;
}

.three {
  background: #27AE60;
}

.four {
  background: #3498DB;
}

.five {
  background: #2980B9;
}

.six {
  background: #9B59B6;
}

.seven {
  background: #8E44AD;
}

.eight {
  background: #34495E;
}

.nine {
  background: #2C3E50;
}

.ten {
  background: #22313f;
}

.eleven {
  background: #F1C40F;
}

.twelve {
  background: #F39C12;
}

.thirteen {
  background: #E67E22;
}

.fourteen {
  background: #D35400;
}

.fifteen {
  background: #E74C3C;
}

.sixteen {
  background: #C0392B;
}

.seventeen {
  background: #ECF0F1;
}

.seventeen.clouds {
  color: #BDC3C7;
}

.eighteen {
  background: #BDC3C7;
}

.nineteen {
  background: #95A5A6;
}

.twenty {
  background: #7F8C8D;
}

.dark-mode {
  background-color: black;
  color: white;
}
#locatie {
font-size:12px;
}
select option:hover {
	 /* box-shadow: 0 0 10px 100px rgb(246, 252, 255) inset;  */
	 color:green; 
}

/* "#F1C40F" ,"#a55ca5","#bccd7a","#eb9743","#67b6c7" */
 #chartLegend
{
     position:relative;
	 max-width: 300px;
	 max-height: 300px;
	 margin-left: 1400px;
	 margin-top: -350px;
	 vertical-align: bottom;
	 padding-left: 20px;
	 text-align: left;
}

ul{ 

	float:right;
	margin-top:0;
}
#cinci { 
	
	list-style:none;
	border-left :20px solid; 
	border-color :#F1C40F;
padding:5px;
/* display:none; */

}
#sase { 
	list-style:none;
	border-left :20px solid; 
	border-color :#a55ca5;
padding:5px;
/* display:none; */

}
#sapte{ 
	list-style:none;
	border-left :20px solid; 
	border-color :#bccd7a;
padding:5px;
/* display:none; */

}
#opt { 
	list-style:none;
	border-left :20px solid; 
	border-color :#eb9743;
padding:5px;
/* display:none; */

}
#noua { 
	list-style:none;
	border-left :20px solid; 
	border-color :#67b6c7;
padding:5px;
/* display:none; */

}
/*INFORMATII*/
table tr:nth-child(odd){ 
		background: darkslategrey;
	}
table tr:nth-child(even){
		background:dimgrey;
	}

.submit-filtre {
	margin-top:2%;
	margin-left: 45%;
	background-color: #0099CC;
	padding: 10px;
	color: #e8ffca;
	font-size:30px;
	border-radius:10px;
	border-color: lightslategray;
	transition:10ms;
	
}
.submit-filtre:hover{
	width: 200px;
	transition: 30ms ;
	border-radius: 40px;
	background-color: #e8ffca;
	color:  #003399;
	opacity: 2;
	
}
input[type=text], select {
  width: 170px;
  padding: 10px 10px;
  display: inline-block;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 15px;
  color:  #003399;
  background-color: #fafadc;
  text-align: center;
  margin-left: 10px;
}

input[id=an]{
	width: 210px;
}
#top{
	
	position:fixed;
 	bottom:40px;
 	right:10px;
	background-color:#0099CC;
	font-size :13px;
	border-radius: 6px;
	padding: 10px 10px;
	cursor:pointer;
	color: #fafadc;
  	border-style: 1px solid;
  	border-color: DarkSlateGray;
}
#top:hover{
	background-color: #DDB5FF;
	color: #003399;
}
header {
	width: 100%;
	overflow: hidden;
	background-color:  #0099CC;
	border-radius: 10px ;
}

header a {
	float: left;
	text-align: center;
	padding: 30px 10px;
	text-decoration: none;
	font-size: 22px;
	line-height: 15px;
	color: #e8ffca;
	transition-duration: 0.4s;
	border-radius: 10px ;
}

header a:hover {
	background-color:  #003399;
	opacity: 0.2;
}

.header-right {
	float: right;
}

.logo {
	border: 0;
	padding: 0;
	margin-bottom: 0;
}

.logoimg {
	width: 90px;
	height: 75px;
}

a:hover {
	background-color: LightSteelBlue;
}

div.tabelul {

	position: relative;
	margin-top: 20px;
}


table {
	padding-top: 12px;
	padding-bottom: 12px;
	border-collapse: collapse;
	border-spacing: 0;
	position: relative;
	float: center;
  margin: auto;
  color: black;
}

table th {
	background-color: darkcyan;
	padding-top: 12px;
	padding-bottom: 12px;
	padding-left: 12px;
	padding-right: 12px;
  border: 1px solid #ddd;
  color: darkgreen;
}

table td {
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	padding-right: 10px;
	border: 1px solid #ddd;
}


div.descriere-tabel {
	font-size: 13px;
	position: relative;
	margin-left: 750px;
	margin-top: 10px;
	color: darkred;
}

div.formular {
	position: relative;
	top: 4%;
	margin: auto;
	width: 50%;
	padding: 20px;
	font-size: 25px;
	line-height: 35px;
	text-align: center;
	text-decoration-style: solid;
}

.form {
	position: relative;
	top: 10%;
	left: 10px;
	
}

div.form-judet {
	margin-left: 10%;
	font-size:25px;
	padding:10px;
}

div.form-marca {
	position: absolute;
	margin-left: 60%;
	font-size:25px;
	top:24%;
	padding:10px;

}


div.form-categorie {
	margin-left: 10%;
	font-size:25px;
	margin-top: 2%;

}

div.form-an {
	position: absolute;
	margin-left: 60%;
	font-size:25px;
	top:36%;
	
}


input[type=submit] {
	position: relative;
	top: 10px;
	background-color: #c1e9ff;
	font-size: 17px;
	border-radius: 6px;
	padding: 10px 20px;
	margin: 10px 610px;
	cursor: pointer;
	border-style: 1px solid;
	border-color: DarkSlateGray;
	transition-duration: 0.4s;
}

input[type=submit]:hover {
	background-color: #e5e3ff;
}

input[type=text], select {
	width: 170px;
	padding: 10px 10px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
	font-size: 15px
}

input[id=an] {

	width: 210px;

}
.dark-mode-informatii {
	border-color: DarkSlateGray;
	position: absolute;
	margin-top: 90%;
	left: 2%;
	font-size: 13px;
	padding: 12px 24px;
	cursor: pointer;
	border-radius: 5px;
	text-align: center;
	background-color: #0099CC;
	color: #e8ffca;
  }
  .dark-mode-informatii:hover{
	  border-radius: 20px;
	  background-color: #e8ffca;
	  color:  #003399;
	  opacity: 2;
  }
.about {

	position: fixed;
	bottom: 0;
	background-color:  #0099CC;
	margin-top: 100px;
	cursor: pointer;
	height: 30px;
	font-weight: 200;
	left: 0;
	line-height: 35px;
	text-align: center;
	width: 100%;
	color: #e8ffca;

}

.about-button {
	
	background-color:  #0099CC;
	border: 0;
	font-size: medium;
	font-weight: 600;
	cursor: pointer;
	color: #e8ffca;
	width: 100%;

}

.about-button:hover {
	position: relative;
	bottom: 50px;
	width: 100%;
	height: 50px;
	transition: 10s;


}

.about-button:hover:after {
	content: '  APaX este un instrument Web de vizualizare adecvata si de comparare multi-criteriala a datelor publice privind parcul auto din Romania pe ultimii 5 ani. ';
	text-align: right;
	width: 100%;
	transition: width 4s;
}

@media screen and (max-width: 400px) {

	div.tabelul {

		position: absolute;
		top: 750px;

	}

	table {
		display: block;
	}

	table th {
		display: block;
	}

	table td {
		display: block;

	}

	table tr {
		display: block;
	}

	div.descriere-tabel {
		position: absolute;
		margin-left: 0px;
		margin-top: 530px;


	}

	logo {
		position: absolute;
		right: 0;
		top: 0;

	}

	.header-right {
		float: left;
	}

	.formular {
		position: absolute;
		float: left;
		text-align: left;
		display: none;
	}


	div.form-judet {
		position: absolute;
		text-align: left;
		float: left;
		margin-top: 20%;
		margin-left: 0px;
		margin-right: 0px;
	}


	div.form-marca {

		position: absolute;
		text-align: left;
		float: left;
		margin-top: 35%;
		margin-left: 0px;
		margin-right: 0px;

	}


	div.form-categorie {
		position: absolute;
		text-align: left;
		float: left;
		margin-top: 45%;
		margin-left: 0px;
		margin-right: 0px;
	}

	div.form-an {

		position: absolute;
		text-align: left;
		float: left;
		margin-top: 80%;
		margin-left: 0px;
		margin-right: 0px;
	}

	.submit-filtre{
		margin-top:90%;
		bottom:0;
		margin-left: 0px;
	}
	#top{
		margin-top:-30px;
		margin-left: 10px;
	}
	.dark-mode-informatii{
		bottom:40px;
		position: relative;
		margin-left:40%;
	}
	input[type=submit] {
		position: relative;

		margin-top: 250px;
		margin-left: 0;
		float: left;
		text-align: left;
	}

	/*STATISTICI*/
	.descarcare-button .csv{
		margin-left: 21px;
	}
	 .descarcare-button .svg{
		 margin-left: 0px;
	 }
	 .format-button .radiala{
		margin-left: 21px;
	 }
	 .format-button .coloana{
		margin-left: 0px;
	 }
	 div.form-marca2 {

		position: relative;
		text-align: left;
		float: right;
		top: 10px;
		
		margin-right: 30%;

	}
	div.form-judet2 {

		position: relative;
		text-align: left;
		float: right;
		top: 10px;
		margin-right: 20%;

	}
	div.form-an2{
		position: relative;
		text-align: left;
		float: right;
		top: 0px;
		margin-right: 30%;
	}
	div.form-categorie2{
		position: relative;
		text-align: left;
		float: right;
		top: 10px;
		margin-right: 20%;
	}
	.dark-mode-statistici{
		position: relative;
		float: right;
		margin-top: 30px;
		margin-right: 70%;
	}

}
/* responssive home*/

@media  only screen and (max-width: 320px) {

	div.tabelul {

		position: absolute;
		top: 960px;

	}

	div.descriere-tabel {
		position: absolute;
		margin-left: 0px;
		margin-top: 730px;


	}

	div.form-judet {
		position: absolute;
		text-align: left;
		float: left;
		top: 250px;

		margin-left: 0px;
		margin-right: 0px;
	}


	div.form-marca {

		position: absolute;
		text-align: left;
		float: left;
		top: 300px;


		margin-left: 0px;
		margin-right: 0px;

	}


	div.form-categorie {
		position: absolute;
		text-align: left;
		float: left;
		top: 400px;
		margin-left: 0px;
		margin-right: 0px;
	}

	div.form-an {

		position: absolute;
		text-align: left;
		float: left;
		margin-top: 600px;
		margin-left: 0px;
		margin-right: 0px;
	}

	input[type=submit] {
		position: relative;
		text-align: left;
		float: left;
		margin-top: 400px;
		margin-left: 0px;

	}

	/*statistici*/

	.descarcare-button .csv{
		margin-left: 10px;
	}
	 .descarcare-button .svg{
		 margin-left: 0px;
	 }
	 .format-button .radiala{
		margin-left: 10px;
	 }
	 .format-button .coloana{
		margin-left: 0px;
	 }
	 div.form-marca2 {

		position: relative;
		text-align: left;
		float: right;
		top: 10px;
		
		margin-right: 20%;

	}
	div.form-judet2 {

		position: relative;
		text-align: left;
		float: right;
		top: 10px;
		margin-right: 20%;

	}
	div.form-an2{
		position: relative;
		text-align: left;
		float: right;
		top: 0px;
		margin-right: 20%;
	}
	div.form-categorie2{
		position: relative;
		text-align: left;
		float: right;
		top: 10px;
		margin-right: 20%;
	}
	.submit-filtre{
		position: relative;
		float: right;
		margin-top: 30px;
		margin-right: 70%;
	}
	
}


@media screen and  (min-width: 400px) and  (max-width: 549px) {
	div.descriere-tabel {

		margin-top: 400px;
		margin-left: 0;

	}

	table {
		display: block;
	}

	table th {
		display: block;
	}

	table td {
		display: block;

	}

	table tr {
		display: block;
	}

	div.formular {
		position: relative;
		float: center;
		text-align: center;
		font-size:15px;
		line-height: normal;
	}
	

	.submit-filtre{
		bottom:0;
		margin-top:50%;
	}
	
	.dark-mode-informatii{
		
		margin-top:3%;
	

	}
	
	div.form-judet {
		position: absolute;
		text-align: left;
		float: left;
		margin-top: 10%;
		margin-left: 0;

	}

	div.form-marca {

		position: relative;
		text-align: left;
		float: left;
		margin-top: -5%;
		margin-left:0%;

	}

	div.form-categorie {
		position: absolute;
		text-align: left;
		float: left;
		margin-top: 25%;
		margin-left: 2%;
	}

	div.form-an {
		position: absolute;
		text-align: left;
		margin-left: 2%;
		margin-top: 50%;
	}

	input[type=submit] {
		position: relative;

		margin-top: 270px;
		margin-left: 0;
		float: left;
		text-align: left;
	}

  /*STATISTICI*/
  .descarcare-button .csv{
	margin-left: 10px;
}
 .descarcare-button .svg{
	 margin-left: 0px;
 }
 .descarcare-button .web{
	margin-top:3px;
	margin-left: 2px;
}
 .format-button .radiala{
	margin-left: 21px;
 }
 
 .format-button .coloana{
	margin-left: 0px;
 }
 div.form-marca2 {

	position: relative;
	text-align: left;
	float: right;
	top: 10px;
	
	margin-right: 20%;

}
div.form-judet2 {

	position: relative;
	text-align: match-parent;
	float: right;
	top: 10px;
	margin-right: 20%;

}
div.form-an2{
	position: relative;
	text-align: left;
	float: right;
	top: 0px;
	margin-right: 20%;
}
div.form-categorie2{
	position: relative;
	text-align: left;
	float: right;
	top: 10px;
	margin-right: 20%;
}
.descarcare-button{
	display: inline-flexbox;
}
}

@media screen and  (min-width: 550px) and  (max-width: 767px) {
	div.descriere-tabel {

		margin-top: 400px;
		margin-left: 0;

	}

	div.tabelul {
		overflow-x: auto;
	}

	
	div.formular {
		position: relative;
		float: center;
		text-align: center;
		font-size:20px;
		line-height: normal;
	}
	

	.submit-filtre{
		bottom:0;
		margin-top:40%;
	}
	
	.dark-mode-informatii{
	
		margin-top:1%;
	

	}
	

	div.form-judet {
		position: absolute;
		text-align: left;
		float: left;
		margin-top: 50px;
		margin-left: 0;


	}


	div.form-marca {

		position: relative;
		text-align: left;
		float: left;
		margin-top: -35px;
		margin-left: 0;


	}


	div.form-categorie {
		position: absolute;
		text-align: left;
		float: left;
		margin-top: 150px;
		margin-left: 0;
	}

	div.form-an {

		position: absolute;
		text-align: left;
		margin-left: 0px;
		margin-top: 300px;


	}

	input[type=submit] {
		position: relative;

		margin-top: 270px;
		margin-left: 0;
		float: left;
		text-align: left;
	}


}

@media screen and  (min-width: 768px) and  (max-width: 1023px) {

	div.tabelul {

		position: relative;
		top: 230px;
		overflow-x: auto;
	}

	div.descriere-tabel {
		position: absolute;
		margin-left: 320px;
		margin-top: 230px;


	}

	.formular {
		position: absolute;
		float: center;
		text-align: center;
	}


	.submit-filtre{
		bottom:0;
		margin-top:42%;
	}
	
	.dark-mode-informatii{
		margin-top:1%;

	}
	
	div.form-judet {
		position: absolute;
		text-align: left;
		float: left;
		margin-top: 2%;
		margin-left: 0;
	}
	div.form-marca {

		position: absolute;
		text-align: left;
		float: left;
		margin-top: 4%;
		margin-left: 50%;

	}


	div.form-categorie {
		position: absolute;
		text-align: left;
		float: left;
		margin-top: 10%;
		margin-left: 1%;
	}

	div.form-an {

		position: absolute;
		text-align: left;
		float: left;
		margin-top: 3%;
		margin-left: 51%;
	}

	input[type=submit] {
		position: absolute;

		margin-top: 300px;
		margin-left: 300px;

	}
	
	.submit-filtre{
		bottom:0;
		margin-top:42%;
	}
	
	.dark-mode-informatii{
	
		margin-top:1%;
	

	}
	


}

@media screen and  (min-width: 768px) and  (max-width: 801px){

	.submit-filtre{
		bottom:0;
		margin-top:42%;
	}
	
	.dark-mode-informatii{
	
		margin-top:1%;
	

	}
	
	div.form-judet {
		position: absolute;
		text-align: left;
		float: left;
		margin-top: 2%;
		margin-left: 0;


	}


	div.form-marca {

		position: absolute;
		text-align: left;
		float: left;
		margin-top: 27%;
		margin-left: 0;

	}


	div.form-categorie {
		position: absolute;
		text-align: left;
		float: left;
		margin-top: 20%;
		margin-left: 2%;
	}

	div.form-an {

		position: absolute;
		text-align: left;
		float: left;
		margin-top: 33%;
		margin-left: 2%;
	}
}
@media screen and  (min-width: 801px) and  (max-width: 969px){
	.submit-filtre{
		bottom:0;
		margin-top:42%;
	}
	
	.dark-mode-informatii{
		margin-top:1%;

	}
	
	div.form-judet {
		position: absolute;
		text-align: left;
		float: left;
		margin-top: 2%;
		margin-left: 0;
	}
	div.form-marca {

		position: absolute;
		text-align: left;
		float: left;
		margin-top: 20%;
		margin-left: 0%;

	}


	div.form-categorie {
		position: absolute;
		text-align: left;
		float: left;
		margin-top: 23%;
		margin-left: 1%;
	}

	div.form-an {

		position: absolute;
		text-align: left;
		float: left;
		margin-top: 30%;
		margin-left: 1%;
	}

}
@media screen and  (min-width: 1024px) and  (max-width: 1354px) {
	div.tabelul {

		position: relative;
		top: 230px;
		overflow-x: auto;
	}

	div.descriere-tabel {
		position: absolute;
		margin-left: 460px;
		margin-top: 230px;


	}

	.formular {
		position: absolute;
		float: center;
		text-align: center;
	}


	.submit-filtre{
		bottom:0;
		margin-top:42%;
	}
	
	.dark-mode-informatii{
		margin-top:1%;

	}
	
	div.form-judet {
		position: absolute;
		text-align: left;
		float: left;
		margin-top: 2%;
		margin-left: 0;
	}
	div.form-marca {

		position: absolute;
		text-align: left;
		float: left;
		margin-top: 4%;
		margin-left: 50%;

	}


	div.form-categorie {
		position: absolute;
		text-align: left;
		float: left;
		margin-top: 10%;
		margin-left: 1%;
	}

	div.form-an {

		position: absolute;
		text-align: left;
		float: left;
		margin-top: 3%;
		margin-left: 51%;
	}

	input[type=submit] {
		position: absolute;

		margin-top: 300px;
		margin-left: 400px;

	}

}



/*
 VIZUALIZARE STATISTICI-formular statistici
 */
.formular2 {

	background-color: grey;
	position: relative;
	top: 10px;
	margin: auto;
	width: 99.5%;
	padding: 5px;
	font-size:23px;
	font-weight: 100;
	line-height: 30px;
	text-decoration-style: solid;
	border-top-left-radius: 40px;
	border-top-right-radius: 40px;
	text-align: center;

}

.form-statistici {

	background-color: grey;
	border-bottom-left-radius: 40px;
	border-bottom-right-radius: 40px;
	padding: 10px;
	width: 98.9%;
}
 div.form-judet2 {
	margin-left: 40px;
	margin-top: 7px;
	font-size: 20px;
}
.form-statistici .form-judet2 .oras {
	background-color: #fafadc;
	text-align: center;
	margin-left: 10px;
	color: #0e1499;


}
.form-statistici .form-judet2 .oras:hover, .form-statistici .form-categorie2 .categorie:hover, .form-statistici .form-marca2 .marca:hover, .form-statistici .form-an2 .an:hover, .form-statistici.form-descriere2.descriere:hover{
	border-radius: 40px;
	background-color: #e3e8fd;
	transition: 4ms ;
	cursor: pointer;
}
 div.form-categorie2 {
	margin-left: 40px;
	margin-top: 20px;
	font-size: 20px;
}
.form-statistici .form-categorie2 .categorie {
	color:  #003399;
	background-color: #fafadc;
	text-align: center;
	margin-left: 10px;
}
 div.form-marca2 {
	margin-left: 1050px;
	margin-top: -50px;
	font-size: 20px;
}
.form-statistici .form-marca2 .marca {
	color:  #003399;
	background-color: #fafadc;
	text-align: center;
	margin-left: 10px;
}
 div.form-an2 {
	margin-left: 1000px;
	margin-top: -50px;
	font-size: 20px;
}
.form-statistici .form-an2 .an {
	color:  #003399;
	background-color: #fafadc;
	text-align: center;
	margin-left: 10px;
}
 div.form-descriere2 {
	margin-top: -100px;
	margin-left: 500px;
	font-size: 20px;
}
.form-statistici .form-descriere2 .descriere {
	color:  #003399;
	background-color: #fafadc;
	text-align: center;
	margin-left: 10px;
}

/*
 VIZUALIZARE STATISTICI-chart
 */
.chart {
	max-width: 50%;
}
#chartLegend{

	left: 25%;
}
.diagrama {
	max-width: 50%;
	width: 100%;
	padding: 5px;
	font-size: 25px;
	line-height: 20px;
	border-radius: 10px;
	text-align: left;

}

.diagrama .format-button .radiala, .diagrama .format-button .coloana, .diagrama .format-button .linie   {
	cursor: pointer;
	font-size: 25px;
	padding: 10px 20px;
	text-align: center;
	border-radius: 7px;
	transition-duration: 0.4s;
	background-color: #0099CC;
	color: #e8ffca;
	border: #a2e9ff;

}
.diagrama .format-button .radiala{
	margin-top:2%;
}
.diagrama .format-button .linie, .diagrama .format-button .coloana{
	margin-left: 10%;
	margin-top:2%;
}

.diagrama .format-button .radiala:hover{
	background-color: #ffafe9;
	color: #0099CC;
	border-radius: 50px;
}

.diagrama .format-button .coloana:hover{
	background-color: #ffa7bf;
	color: #0099CC;
	border-radius: 50px;
}

.diagrama .format-button .linie:hover{
	background-color: #ddb5ff;
	color: #0099CC;
	border-radius: 50px;
}
.descarcare {
	max-width: 50%;
	width: 100%;
	padding: 5px;
	font-size: 25px;
	line-height: 20px;
	border-radius: 10px;
	text-align: left;

}

.descarcare .descarcare-button .csv, .descarcare .descarcare-button .web , .descarcare .descarcare-button .svg {
	cursor: pointer;
	font-size: 25px;
	padding: 10px 20px;
	text-align: center;
	border-radius: 7px;
	transition-duration: 0.4s;
	background-color: #0099CC;
	color: #e8ffca;
	border: #a2e9ff;


}
.descarcare .descarcare-button .csv:hover
{
	background-color: #ffafe9;
	color: #0099CC;
	border-radius: 50px;

}
.descarcare .descarcare-button .web , .descarcare .descarcare-button .svg {
	margin-left: 10%;
	margin-top:2%;

}
.descarcare .descarcare-button .csv{
	margin-top:2%;
}

.descarcare .descarcare-button .web:hover
{
	background-color: #ffa7bf;
	color: #0099CC;
	border-radius: 50px;

}

.descarcare .descarcare-button .svg:hover
{
	background-color: #ddb5ff;
	color: #0099CC;
	border-radius: 50px;
}

.puncte
{
	padding-top: 10px;
}
.dark-mode-statistici {
	border-color: DarkSlateGray;
	position: absolute;
	top: 1000px;
	left: 1%;

	font-size: 13px;
	padding: 12px 24px;
	cursor: pointer;
	border-radius: 5px;
	text-align: center;
	background-color: #0099CC;
	color: #e8ffca;
  }
  .dark-mode-statistici:hover{
	  border-radius: 20px;
	  background-color: #e8ffca;
	  color:  #003399;
	  opacity: 2;
  }

  /*CONTACT*/
  .formular-contact{
	  text-align:center;
	  font-size: 55px;
	  margin-top: 2%;
  }
  .form-email{
	  position: absolute;
	  left:40%;
	  top:30%;
	  float: center;
	  font-size:30px;
	  
  }
  #email, #nume{
	font-size:20px;
	background-color: #0099CC;
	text-align: center;
	font-size: 22px;
	line-height: 15px;
	color: #e8ffca;
	
}
#comentariu{
	font-size:20px;
	padding:38px 33px;
	background-color: #0099CC;
	font-size: 22px;
	line-height: 15px;
	color: #e8ffca;
	
}

 #email:hover, #nume:hover, #comentariu:hover{
	 border-radius: 10px;
	 background-color: #e8ffca;
	 color:#0099CC;

 }
  .form-nume{
	position: absolute;
	left:39.6%;
	top:40%;
	float: center;
	font-size:30px;
}
.form-comentariu{
	position: absolute;
	left:35.1%;
	top:50%;
	float: center;
	font-size:30px;
}
.dark-mode-contact {
	border-color: DarkSlateGray;
	position: relative;
	left: 1%;
	margin-bottom:2%;
	font-size: 13px;
	padding: 12px 24px;
	cursor: pointer;
	border-radius: 5px;
	text-align: center;
	background-color: #0099CC;
	color: #e8ffca;
  }
  .dark-mode-contact:hover{
	  border-radius: 20px;
	  background-color: #e8ffca;
	  color:  #003399;
	  opacity: 2;
  }
  .trimite{
	border-color: DarkSlateGray;
	position: absolute;
	top: 68%;
	left:46%;
	font-size: 20px;
	padding: 7px 30px;
	cursor: pointer;
	border-radius: 10px;
	text-align: center;
	background-color: #ffafe9;
	color: #003399;
  }
  .trimite:hover{
	border-radius: 20px;
	background-color: #e8ffca;
	color:  #003399;
	opacity: 2;
}
#raspuns{
	bottom:0;
	margin-top:26%;
	max-width: 25%;
	align-content: center;
	margin-left: 38%;
}
.despre{
	max-height: 50%;
	
}
.despre .andreea-poza{
	max-width: 10%;
	max-height: 10%;
	position: relative;
	margin-top: 2%;
	margin-left:10%;
	
}
.despre .rebecca-poza{
	max-width: 10%;
	max-height: 10%;
	position: relative;
	margin-top:-23%;
	margin-left:80%;
	margin-bottom: 2%;
}
.despre .rebecca-descriere{
	font-size:20px;
	margin-left:80%;
	margin-bottom: 2%;
	margin-top: -1%;
}
.despre .andreea-descriere{
	font-size:20px;
	margin-left:9%;
	margin-bottom: 2%;
	max-width: 20%;
	margin-top: -8%;
}

/*RESPONSSIVE*/
@media screen and (max-width: 400px) {
	/*info*/
	div.tabelul {

		position: absolute;
		top: 750px;

	}

	table {
		display: block;
	}

	table th {
		display: block;
	}

	table td {
		display: block;

	}

	table tr {
		display: block;
	}

	div.descriere-tabel {
		position: absolute;
		margin-left: 0px;
		margin-top: 530px;


	}

	logo {
		position: absolute;
		right: 0;
		top: 0;

	}

	.header-right {
		float: left;
	}

	.formular {
		position: absolute;
		float: left;
		text-align: left;
		display: none;
	}


	div.form-judet {
		position: absolute;
		text-align: left;
		float: left;
		margin-top: 20%;
		margin-left: 0px;
		margin-right: 0px;
	}


	div.form-marca {

		position: absolute;
		text-align: left;
		float: left;
		margin-top: 35%;
		margin-left: 0px;
		margin-right: 0px;

	}


	div.form-categorie {
		position: absolute;
		text-align: left;
		float: left;
		margin-top: 45%;
		margin-left: 0px;
		margin-right: 0px;
	}

	div.form-an {

		position: absolute;
		text-align: left;
		float: left;
		margin-top: 80%;
		margin-left: 0px;
		margin-right: 0px;
	}

	.submit-filtre{
		margin-top:90%;
		bottom:0;
		margin-left: 0px;
	}
	#top{
		margin-top:-30px;
		margin-left: 10px;
	}
	.dark-mode-informatii{
		bottom:40px;
		position: relative;
		margin-left:40%;
	}
	input[type=submit] {
		position: relative;

		margin-top: 250px;
		margin-left: 0;
		float: left;
		text-align: left;
	}

	/*STATISTICI*/
	.descarcare-button .csv{
		margin-left: 21px;
	}
	 .descarcare-button .svg{
		 margin-left: 0px;
	 }
	 .format-button .radiala{
		margin-left: 21px;
	 }
	 .format-button .coloana{
		margin-left: 0px;
	 }
	 div.form-marca2 {

		position: relative;
		text-align: left;
		float: right;
		margin-top:10%;
		
		margin-right: 30%;

	}
	div.form-judet2 {

		position: relative;
		text-align: left;
		float: right;
		top: 10px;
		margin-right: 20%;

	}
	div.form-an2{
		position: relative;
		text-align: left;
		float: right;
		margin-top:10%;
		margin-right: 30%;
	}
	div.form-categorie2{
		position: relative;
		text-align: left;
		float: right;
		top: 10px;
		margin-right: 20%;
	}
	.dark-mode-statistici{
		position: relative;
		float: right;
		margin-top: 30px;
		margin-right: 70%;
	}
	ul{
		float:left;
		position: absolute;
		top:-200px;
		right:1200px;
	}
	/*home*/
	.text-acasa{
		display:none;
	}
	.slides {
		width:100%;
		height:500px;	
	}
	.buton1, .buton2, .buton3, .dark-mode-home{
		font-size:10px;
		
	}
	.buton1, .buton2{
		top:90%;
		padding: 20px;
	}
	.buton3, .dark-mode-home{
		top:80%;
		padding: 20px;
	}
	/*contact*/
	.formular-contact{
		display: none;
		}
		.form-email{
			position: absolute;
			left:20%;
			top:40%;
			float: center;
			font-size:15px;
			
		}
		#email, #comentariu, #nume{
			font-size:15px;
			padding:10px;
		}
		.form-nume{
			position: absolute;
			left:20%;
			top:50%;
			float: center;
			font-size:15px;
			display: inline;
			
		}
		.form-comentariu{
			position: absolute;
			left:20%;
			top:60%;
			float: center;
			font-size:15px;
			
		}
		.trimite{
			top:70%;
			font-size: 15px;
		}
		.despre .andreea-poza{
			margin-top:60%;
			max-width: 30%;
			height:20%;
		}
		.despre .rebecca-poza{
			max-width: 30%;
			margin-top:-120px;
		}
		.despre .rebecca-descriere, .despre .andreea-descriere{
			font-size: 15px;
		}
		.despre .andreea-descriere{
			margin-top:-86%;
		
		}
		.dark-mode-contact{
			margin-top:7%;
		}
		
		
}

@media  only screen and (max-width: 320px) {

	div.tabelul {

		position: absolute;
		top: 960px;

	}

	div.descriere-tabel {
		position: absolute;
		margin-left: 0px;
		margin-top: 730px;


	}

	div.form-judet {
		position: absolute;
		text-align: left;
		float: left;
		top: 250px;

		margin-left: 0px;
		margin-right: 0px;
	}


	div.form-marca {

		position: absolute;
		text-align: left;
		float: left;
		top: 300px;


		margin-left: 0px;
		margin-right: 0px;

	}


	div.form-categorie {
		position: absolute;
		text-align: left;
		float: left;
		top: 400px;
		margin-left: 0px;
		margin-right: 0px;
	}

	div.form-an {

		position: absolute;
		text-align: left;
		float: left;
		margin-top: 600px;
		margin-left: 0px;
		margin-right: 0px;
	}

	input[type=submit] {
		position: relative;
		text-align: left;
		float: left;
		margin-top: 400px;
		margin-left: 0px;

	}

	/*statistici*/

	.descarcare-button .csv{
		margin-left: 10px;
	}
	 .descarcare-button .svg{
		 margin-left: 0px;
	 }
	 .format-button .radiala{
		margin-left: 10px;
	 }
	 .format-button .coloana{
		margin-left: 0px;
	 }
	 div.form-marca2 {

		position: relative;
		text-align: left;
		float: right;
		margin-top: 10%;
		margin-right: 20%;

	}
	div.form-judet2 {

		position: relative;
		text-align: left;
		float: left;
		margin-top: 10%;
		margin-right: 20%;

	}
	div.form-an2{
		position: relative;
		text-align: left;
		float: right;
		margin-top: 10%;
		margin-right: 20%;
	}
	div.form-categorie2{
		position: relative;
		text-align: left;
		float: right;
		margin-top: 12%;
		margin-right: 20%;
	}
	.submit-filtre{
		position: relative;
		float: right;
		margin-top: 30px;
		margin-right: 70%;
	}
	ul{
		float:left;
		position: absolute;
		top:-200px;
		right:1100px;
	}
	
}


@media screen and  (min-width: 400px) and  (max-width: 549px) {
	div.descriere-tabel {

		margin-top: 400px;
		margin-left: 0;

	}

	table {
		display: block;
	}

	table th {
		display: block;
	}

	table td {
		display: block;

	}

	table tr {
		display: block;
	}

	div.formular {
		position: relative;
		float: center;
		text-align: center;
		font-size:15px;
		line-height: normal;
	}
	

	.submit-filtre{
		bottom:0;
		margin-top:50%;
	}
	
	.dark-mode-informatii{
		
		margin-top:3%;
	

	}
	
	div.form-judet {
		position: absolute;
		text-align: left;
		float: left;
		margin-top: 10%;
		margin-left: 0;

	}

	div.form-marca {

		position: relative;
		text-align: left;
		float: left;
		margin-top: -5%;
		margin-left:0%;

	}

	div.form-categorie {
		position: absolute;
		text-align: left;
		float: left;
		margin-top: 25%;
		margin-left: 2%;
	}

	div.form-an {
		position: absolute;
		text-align: left;
		margin-left: 2%;
		margin-top: 50%;
	}

	input[type=submit] {
		position: relative;

		margin-top: 270px;
		margin-left: 0;
		float: left;
		text-align: left;
	}

  /*STATISTICI*/
  ul{
	float:left;
	position: absolute;
	top:-200px;
	right:800px;
}
  .descarcare-button .csv{
	margin-left: 10px;
}
 .descarcare-button .svg{
	 margin-left: 0px;
 }
 .descarcare-button .web{
	margin-top:3px;
	margin-left: 2px;
}
 .format-button .radiala{
	margin-left: 21px;
 }
 
 .format-button .coloana{
	margin-left: 0px;
 }
 ul{
	float:left;
	position: absolute;
	top:-100px;
	right:1150px;
}
.dark-mode-statistici{
	margin-bottom: 0;
	position: absolute fixed;
	margin-top:120%;
}
 div.form-marca2 {

	position: absolute;
	text-align: left;
	float: left;
	margin-top: 33%;
	margin-left: 10%;

}
div.form-judet2 {

	position: absolute;
	text-align: left;
	float: left;
	margin-top: 5%;
	margin-left: 10%;

}
div.form-an2{
	position: absolute;
	text-align: left;
	float: right;
	margin-top: 44%;
	margin-left: 10%;
}
div.form-categorie2{
	position: absolute;
	text-align: left;
	float: left;
	margin-top: 20%;
	margin-left: 10%;

}
.diagrama{
	margin-top:50%;
}
.descarcare-button{
	display: inline-flexbox;
}
/*Acasa*/
.text-acasa{
	font-size:10px;
	margin-top:20%;
}
.slides {
	width:100%;
	height:550px;	
}
.buton1, .buton2, .buton3, .dark-mode-home{
	font-size:10px;
	
}
.buton1, .buton2{
	top:83%;
	padding: 20px;
}
.buton3, .dark-mode-home{
	top:80%;
	padding: 20px;
}
/*contact*/
.formular-contact{
display: none;
}
.form-email{
	position: absolute;
	left:30%;
	top:40%;
	float: center;
	font-size:15px;
	
}
#email, #comentariu, #nume{
	font-size:15px;
}
.form-nume{
	position: absolute;
	left:30%;
	top:50%;
	float: center;
	font-size:15px;
	display: inline;
	
}
.form-comentariu{
	position: absolute;
	left:20%;
	top:60%;
	float: center;
	font-size:15px;
	
}
.trimite{
	top:80%;
}
.despre .rebecca-descriere, .despre .andreea-descriere{
	font-size: 15px;
}
.despre .andreea-descriere{
	margin-top:-50%;

}
.dark-mode-contact{
	margin-top:7%;
}

}

@media screen and  (min-width: 550px) and  (max-width: 767px) {
	ul{
		float:left;
		position: absolute;
		top:-200px;
		right:950px;
	}
	.dark-mode-statistici{
		margin-bottom: 0;
		position: absolute fixed;
		margin-top:55%;
	}
	 div.form-marca2 {
	
		position: absolute;
		text-align: left;
		float: left;
		margin-top: 26%;
		margin-left: 10%;
	
	}
	div.form-judet2 {
	
		position: absolute;
		text-align: left;
		float: left;
		margin-top: 5%;
		margin-left: 10%;
	
	}
	div.form-an2{
		position: absolute;
		text-align: left;
		float: right;
		margin-top: 34%;
		margin-left: 10%;
	}
	div.form-categorie2{
		position: absolute;
		text-align: left;
		float: left;
		margin-top: 18%;
		margin-left: 10%;
	
	}
	.diagrama{
		margin-top:40%;
	}
	.descarcare-button{
		display: inline-flexbox;
	}
	div.descriere-tabel {

		margin-top: 400px;
		margin-left: 0;

	}

	div.tabelul {
		overflow-x: auto;
	}

	
	div.formular {
		position: relative;
		float: center;
		text-align: center;
		font-size:20px;
		line-height: normal;
	}
	

	.submit-filtre{
		bottom:0;
		margin-top:40%;
	}
	
	.dark-mode-informatii{
	
		margin-top:1%;
	

	}
	

	div.form-judet {
		position: absolute;
		text-align: left;
		float: left;
		margin-top: 50px;
		margin-left: 0;


	}


	div.form-marca {

		position: relative;
		text-align: left;
		float: left;
		margin-top: -35px;
		margin-left: 0;


	}


	div.form-categorie {
		position: absolute;
		text-align: left;
		float: left;
		margin-top: 150px;
		margin-left: 0;
	}

	div.form-an {

		position: absolute;
		text-align: left;
		margin-left: 0px;
		margin-top: 300px;


	}

	input[type=submit] {
		position: relative;

		margin-top: 270px;
		margin-left: 0;
		float: left;
		text-align: left;


	}
	/*acasa*/
.text-acasa{
	font-size:25px;
	margin-top:200px;
}
.slides {
	width:100%;
	height:600px;	
}
.buton1, .buton2, .buton3, .dark-mode-home{
	font-size:15px;
	
}
.buton1, .buton2{
	top:80%;
	padding: 20px;
}
.buton3, .dark-mode-home{
	top:85%;
	padding: 20px;
}
/*contact*/
.formular-contact{
	font-size:25px;
	}
	.form-email{
		position: absolute;
		left:34%;
		top:40%;
		float: center;
		font-size:20px;
		
	}
	#email, #comentariu, #nume{
		font-size:20px;
		padding:15px;
	}
	.form-nume{
		position: absolute;
		left:35%;
		top:50%;
		float: center;
		font-size:15px;
		display: inline;
		
	}
	.form-comentariu{
		position: absolute;
		left:28%;
		top:60%;
		float: center;
		font-size:15px;
		
	}
	.trimite{
		top:70%;
		font-size: 15px;
	}
	.despre .andreea-poza{
		margin-top:30%;
		max-width: 30%;
		height:20%;
	}
	.despre .rebecca-poza{
		max-width: 30%;
		margin-top:-230px;
		margin-left:70%;
	}
	.despre .rebecca-descriere, .despre .andreea-descriere{
		font-size: 15px;
	}
	.despre .andreea-descriere{
		margin-top:-180px;
	
	}
	.dark-mode-contact{
		margin-top:7%;
	}
	


}

@media screen and  (min-width: 768px) and  (max-width: 1023px) {
	/*statistici*/
	.dark-mode-statistici{
		margin-bottom: 0;
		position: absolute;
		margin-top:10%;
	}
	 div.form-marca2 {
	
		position: absolute;
		text-align: left;
		float: left;
		margin-top: 5%;
		margin-left: 70%;
	
	}
	div.form-judet2 {
	
		position: absolute;
		text-align: left;
		float: left;
		margin-top: 5%;
		margin-left: 10%;
	
	}
	div.form-an2{
		position: absolute;
		text-align: left;
		float: right;
		margin-top: 12%;
		margin-left: 70%;
	}
	div.form-categorie2{
		position: absolute;
		text-align: left;
		float: left;
		margin-top: 12%;
		margin-left: 10%;
	
	}
	.diagrama{
		margin-top:20%;
	}
	.descarcare-button{
		display: inline-flexbox;
	}
	ul{
		float:left;
		position: absolute;
		top:-200px;
		right:800px;
	}
	div.tabelul {

		position: relative;
		top: 230px;
		overflow-x: auto;
	}

	div.descriere-tabel {
		position: absolute;
		margin-left: 320px;
		margin-top: 230px;


	}

	.formular {
		position: absolute;
		float: center;
		text-align: center;
	}


	.submit-filtre{
		bottom:0;
		margin-top:42%;
	}
	
	.dark-mode-informatii{
		margin-top:1%;

	}
	
	div.form-judet {
		position: absolute;
		text-align: left;
		float: left;
		margin-top: 2%;
		margin-left: 0;
	}
	div.form-marca {

		position: absolute;
		text-align: left;
		float: left;
		margin-top: 4%;
		margin-left: 50%;

	}


	div.form-categorie {
		position: absolute;
		text-align: left;
		float: left;
		margin-top: 10%;
		margin-left: 1%;
	}

	div.form-an {

		position: absolute;
		text-align: left;
		float: left;
		margin-top: 3%;
		margin-left: 51%;
	}

	input[type=submit] {
		position: absolute;

		margin-top: 300px;
		margin-left: 300px;

	}
	
	.submit-filtre{
		bottom:0;
		margin-top:42%;
	}
	
	.dark-mode-informatii{
	
		margin-top:1%;
	

	}
		/*acasa*/
.text-acasa{
	font-size:30px;
	margin-top:7%;
}
.slides {
	width:100%;
	height:700px;	
}
.buton1, .buton2, .buton3, .dark-mode-home{
	font-size:23px;
	
}
.buton1, .buton2, .dark-mode-home{
	top:85%;
	padding: 20px;
}
.buton3{
	top:85%;
	padding: 15px;
}
/*contact*/
.formular-contact{
	font-size:30px;
	}
	.form-email{
		position: absolute;
		left:34%;
		top:30%;
		float: center;
		font-size:30px;
		
	}
	#email, #comentariu, #nume{
		font-size:20px;
		padding:15px;
	}
	.form-nume{
		position: absolute;
		left:33%;
		top:40%;
		float: center;
		font-size:30px;
		
	}
	.form-comentariu{
		position: absolute;
		left:24%;
		top:50%;
		float: center;
		font-size:30px;
		
	}
	.trimite{
		top:60%;
		font-size: 20px;
	}
	.despre .andreea-poza{
		margin-top:30%;
		max-width: 20%;
		
	}
	.despre .rebecca-poza{
		max-width: 20%;
		margin-top:-200px;
		margin-left:70%;
	}
	.despre .rebecca-descriere, .despre .andreea-descriere{
		font-size: 15px;
	}
	.despre .andreea-descriere{
		margin-top:-130px;
	
	}
	.dark-mode-contact{
		margin-top:7%;
	}

	


}

@media screen and  (min-width: 768px) and  (max-width: 801px){

	.submit-filtre{
		bottom:0;
		margin-top:42%;
	}
	
	.dark-mode-informatii{
	
		margin-top:1%;
	

	}
	
	div.form-judet {
		position: absolute;
		text-align: left;
		float: left;
		margin-top: 2%;
		margin-left: 0;


	}


	div.form-marca {

		position: absolute;
		text-align: left;
		float: left;
		margin-top: 27%;
		margin-left: 0;

	}


	div.form-categorie {
		position: absolute;
		text-align: left;
		float: left;
		margin-top: 20%;
		margin-left: 2%;
	}

	div.form-an {

		position: absolute;
		text-align: left;
		float: left;
		margin-top: 33%;
		margin-left: 2%;
	}
}
@media screen and  (min-width: 801px) and  (max-width: 969px){

	.submit-filtre{
		bottom:0;
		margin-top:42%;
	}
	
	.dark-mode-informatii{
		margin-top:1%;

	}
	
	div.form-judet {
		position: absolute;
		text-align: left;
		float: left;
		margin-top: 2%;
		margin-left: 0;
	}
	div.form-marca {

		position: absolute;
		text-align: left;
		float: left;
		margin-top: 20%;
		margin-left: 0%;

	}


	div.form-categorie {
		position: absolute;
		text-align: left;
		float: left;
		margin-top: 23%;
		margin-left: 1%;
	}

	div.form-an {

		position: absolute;
		text-align: left;
		float: left;
		margin-top: 30%;
		margin-left: 1%;
	}
	/*statistici*/
	#chart{
		height: 30%;
	}
	ul{
		float:left;
		position: absolute;
		top:-200px;
		right:800px;
	}
	.dark-mode-statistici{
		margin-bottom: 0;
		position: absolute;
		margin-top:17%;
	}
	 div.form-marca2 {
	
		position: absolute;
		text-align: left;
		float: left;
		margin-top: 5%;
		margin-left: 70%;
	
	}
	div.form-judet2 {
	
		position: absolute;
		text-align: left;
		float: left;
		margin-top: 5%;
		margin-left: 5%;
	
	}
	div.form-an2{
		position: absolute;
		text-align: left;
		float: right;
		margin-top: 14%;
		margin-left: 70%;
	}
	div.form-categorie2{
		position: absolute;
		text-align: left;
		float: left;
		margin-top: 14%;
		margin-left: 5%;
	
	}
	.diagrama{
		margin-top:20%;
	}
	.descarcare-button{
		display: inline-flexbox;
	}
}
@media screen and  (min-width: 1023px) and  (max-width: 1354px) {
	ul{
		float:left;
		position: absolute;
		top:-200px;
		right:550px;
	}
	/*acasa*/
	.text-acasa{
		font-size:30px;
		margin-top:7%;
	}
	.slides {
		width:100%;
		height:700px;	
	}
	.buton1, .buton2, .buton3, .dark-mode-home{
		font-size:23px;
		
	}
	.buton1, .buton2, .dark-mode-home{
		top:85%;
		padding: 20px;
	}
	.buton3{
		top:85%;
		padding: 15px;
	}

	/*info*/
	div.tabelul {

		position: relative;
		top: 230px;
		overflow-x: auto;
	}

	div.descriere-tabel {
		position: absolute;
		margin-left: 460px;
		margin-top: 230px;


	}

	.formular {
		position: absolute;
		float: center;
		text-align: center;
	}


	.submit-filtre{
		bottom:0;
		margin-top:42%;
	}
	
	.dark-mode-informatii{
		margin-top:1%;

	}
	
	div.form-judet {
		position: absolute;
		text-align: left;
		float: left;
		margin-top: 2%;
		margin-left: 0;
	}
	div.form-marca {

		position: absolute;
		text-align: left;
		float: left;
		margin-top: 4%;
		margin-left: 50%;

	}


	div.form-categorie {
		position: absolute;
		text-align: left;
		float: left;
		margin-top: 10%;
		margin-left: 1%;
	}

	div.form-an {

		position: absolute;
		text-align: left;
		float: left;
		margin-top: 3%;
		margin-left: 51%;
	}

	input[type=submit] {
		position: absolute;

		margin-top: 300px;
		margin-left: 400px;

	}
  /*statistici*/
.dark-mode-statistici{
	margin-bottom: 0;
	position: absolute;
	margin-top:10%;
}
 div.form-marca2 {

	position: absolute;
	text-align: left;
	float: left;
	margin-top: 5%;
	margin-left: 70%;

}
div.form-judet2 {

	position: absolute;
	text-align: left;
	float: left;
	margin-top: 5%;
	margin-left: 10%;

}
div.form-an2{
	position: absolute;
	text-align: left;
	float: right;
	margin-top: 12%;
	margin-left: 70%;
}
div.form-categorie2{
	position: absolute;
	text-align: left;
	float: left;
	margin-top: 12%;
	margin-left: 10%;

}
.diagrama{
	margin-top:20%;
}
.descarcare-button{
	display: inline-flexbox;
}
/*contact*/
.formular-contact{
	font-size:30px;
	}
	.form-email{
		position: absolute;
		left:34%;
		top:30%;
		float: center;
		font-size:30px;
		
	}
	#email, #comentariu, #nume{
		font-size:20px;
		padding:15px;
	}
	.form-nume{
		position: absolute;
		left:33%;
		top:40%;
		float: center;
		font-size:30px;
		
	}
	.form-comentariu{
		position: absolute;
		left:26%;
		top:50%;
		float: center;
		font-size:30px;
		
	}
	.trimite{
		top:60%;
		font-size: 20px;
	}
	.despre .andreea-poza{
		margin-top:10%;
		max-width: 20%;
		
	}
	.despre .rebecca-poza{
		max-width: 20%;
		margin-top:-240px;
		margin-left:70%;
	}
	.despre .rebecca-descriere, .despre .andreea-descriere{
		font-size: 15px;
	}
	.despre .andreea-descriere{
		margin-top:-130px;
	
	}
	.dark-mode-contact{
		margin-top:7%;
	}

	
}
