<<<<<<< HEAD

img{
width:40%;
height:50%;
padding:10px;
}


=======
>>>>>>> a4c6242056645131d08f28d66e2d119d99d6d75a
.atributii {
  color:black;
  font-size:medium;
}


code {
  font-size:15px;
}


body {
    font-family: "Roboto";
   padding:20px;
  
}
.banner{
    float:right;
}
dt{
padding:5px;
margin-left:0%;
font-size:20px;
}
dd{
    margin-left:5%;
}
h2{
  color:blue;
}
ol{
    font-size: large;
  color: blue;
}