

#chart {
  padding: 20px;
}

  .bar-chart {
	margin:auto;
	/* width: 100%; */
	height: 100px;
  }

.charttitle {
  text-align: center;
}

.bars td {
  vertical-align: bottom;
}

.bars div:hover {
  opacity: 0.6;
}

.legend {
  vertical-align: bottom;
  padding-left: 20px;
  text-align: left;
}

.legbox {
  display: block;
  clear: both;
}

.xaxisname {
  margin: 5px;
  color: #fff;
  font-size: 77%;
  padding: 5px;
  float: left;
}


/*Flat UI colors*/

.one {
  background: #16A085;
}

.two {
  background: #2ECC71;
}

.three {
  background: #27AE60;
}

.four {
  background: #3498DB;
}

.five {
  background: #2980B9;
}

.six {
  background: #9B59B6;
}

.seven {
  background: #8E44AD;
}

.eight {
  background: #34495E;
}

.nine {
  background: #2C3E50;
}

.ten {
  background: #22313f;
}

.eleven {
  background: #F1C40F;
}

.twelve {
  background: #F39C12;
}

.thirteen {
  background: #E67E22;
}

.fourteen {
  background: #D35400;
}

.fifteen {
  background: #E74C3C;
}

.sixteen {
  background: #C0392B;
}

.seventeen {
  background: #ECF0F1;
}

.seventeen.clouds {
  color: #BDC3C7;
}

.eighteen {
  background: #BDC3C7;
}

.nineteen {
  background: #95A5A6;
}

.twenty {
  background: #7F8C8D;
}







body
{ 
  font-family: 'Roboto', sans-serif; 
    color:DarkSlateGray;
		
}


.dark-mode {
  background-color: black;
  color: white;
}
#locatie {
font-size:12px;
}
select option:hover {
	 /* box-shadow: 0 0 10px 100px rgb(246, 252, 255) inset;  */
	 color:green; 
}
/*
header {
height:75px;

    width:100%;
  overflow:hidden;
  background:  lightBlue;
  
}


header a {
	background:  lightBlue;
	float: left;
  text-align: center;
  padding:20px 10px;
  text-decoration: none;
  font-size: 22px;
  line-height: 35px;
  color:DarkSlateGray;
  font-family:Georgia;
   
}
.header-right {
	
  float: right;
 
}
*/
header {
  width:100%;
  overflow:hidden;
  background:  lightBlue;
 
 
}
header a {
  float: left;
  text-align: center;
  padding:30px 10px;
  text-decoration: none;
  font-size: 22px;
  line-height: 15px;
  color:DarkSlateGray;
  
}
header a:hover {
  background-color:LightSteelBlue;
  
}
.header-right {
  float: right;
}

.logo{
	
	border:0;
	padding:0;
	margin-bottom:0;
	
}
.logoimg {
 width:90px;
  height:75px;
}

a:hover {
   background-color:LightSteelBlue;
}

div.tabelul{
	
	position:relative;
	margin-top:20px;
	/*overflow-x:auto;*/
	

}
/*
table {
	 
display:block;
	 padding-top: 12px;
  padding-bottom: 12px;
	border: 1px solid black;
	border-collapse:collapse;
	
	  border-spacing: 0;
	position:relative;
	float:center;
	margin:auto;
	
	
	
	
}
table th
{ 	 
display:block;
background-color:lightBlue;
padding-top: 12px;
  padding-bottom: 12px;
  padding-left:12px;
  padding-right:12px;
border: 1px solid #ddd;
  color: DarkSlateGray;
  
	
}

table td
{ 
		
	display:block;
	padding-top: 10px;
  padding-bottom: 10px;
  padding-left:10px;
  padding-right:10px;
	border: 1px solid #ddd;
	color:DarkSlateGray;
}

table tr{
	display:block;
	
	
	
	
}
*/
/* "#F1C40F" ,"#a55ca5","#bccd7a","#eb9743","#67b6c7" */
/* #chartLegend
{
 position:absolute;
margin-top:200px;
	display:none; 
}
*/
ul{ 

	float:right;
	margin-top:0;
}
li.cinci { 
	
	list-style:none;
	border-left :20px solid; 
	border-color :#F1C40F;
padding:5px;

}
li.sase { 
	list-style:none;
	border-left :20px solid; 
	border-color :#a55ca5;
padding:5px;

}
li.sapte{ 
	list-style:none;
	border-left :20px solid; 
	border-color :#bccd7a;
padding:5px;

}
li.opt { 
	list-style:none;
	border-left :20px solid; 
	border-color :#eb9743;
padding:5px;

}
li.noua { 
	list-style:none;
	border-left :20px solid; 
	border-color :#67b6c7;
padding:5px;

}


table {
	 

	 
	 padding-top: 12px;
  padding-bottom: 12px;
	
	border-collapse:collapse;
	
	  border-spacing: 0;
	position:relative;
	float:center;
	margin:auto;
	
	
	
	
}
table th
{ 	 


  background-color:lightBlue;
padding-top: 12px;
  padding-bottom: 12px;
  padding-left:12px;
  padding-right:12px;
border: 1px solid #ddd;
  
	
}

table td
{ 
		
	
	padding-top: 10px;
  padding-bottom: 10px;
  padding-left:10px;
  padding-right:10px;
	border: 1px solid #ddd;
	
}




	
	/*  Define the background color for all the ODD background rows  */
	table tr:nth-child(odd){ 
		background:#ebf6f9 ;
	}
	/*  Define the background color for all the EVEN background rows  */
	table tr:nth-child(even){
		background: #ffffff;
	}


div.descriere-tabel{
	font-size:13px;
	position:relative;
	margin-left:750px;
	margin-top:10px;
	
}

 div.formular
  { 
  position:relative;
  top:10px;
 margin:auto;
 width: 50%;
 padding: 10px;
	  font-size: 17px; 
  	line-height: 35px;
  
  	text-decoration-style: solid;
  }
  
  .form
  {
	  position:relative;
	  top:10px;
	  left:10px;
	  
	  
	
	  
  }
 
  div.form-judet
  {
	  
	margin-left:250px;
	 
  }
  
  
  div.form-marca
  {
	
	  position:absolute;
	  top:137px;
	  margin-left:670px;
	 
   }
   
   
   
  
  div.form-categorie
  {
	  margin-left:250px;
	   text-align:left;
	  
   }
  
  div.form-an
  {position:absolute;
  top:194px;
	  
	    margin-left:670px;
	  
  }
	  
 
  .filtreaza{
	  position:relative;
	  top:10px;
	background-color:lightBlue;
	font-size :17px;
	border-radius: 6px;
	width: 10%;
	padding: 10px 20px;
  	margin: 10px 610px;
  	cursor:pointer;
  	border-style: 1 px solid;
  	border-color: DarkSlateGray;
}
.filtreaza:hover {
  background-color:LightSteelBlue;
}
input[type=text], select {
  width: 170px;
  padding: 10px 10px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 15px
}


  /* input[type=submit]{
	  position:relative;
	  top:10px;
	background-color:lightBlue;
	font-size :17px;
	border-radius: 6px;
	width: 10%;
	padding: 10px 20px;
  	margin: 10px 610px;
  	cursor:pointer;
  	border-style: 1 px solid;
  	border-color: DarkSlateGray;
}
input[type=submit]:hover {
  background-color:LightSteelBlue;
}
input[type=text], select {
  width: 170px;
  padding: 10px 10px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 15px
} */
input[id=an]{
	
	width: 210px;
	
}
#top{
	
	position:fixed;
 bottom:40px;
 right:10px;
	background-color:lightBlue;
	
	font-size :10px;
	border-radius: 6px;
	
	padding: 10px 10px;
  
  	cursor:pointer;
  	border-style: 1 px solid;
  	border-color: DarkSlateGray;
}
.about {
	
	 position:fixed;
	 bottom:0;
	background:lightBlue;
    margin-top:100px;
    
    cursor: pointer;
    height: 30px;
    font-weight: 700;
    left: 0;
    line-height: 35px;
    text-align: center;
    width: 100%;
    
    
   
}
.about-button
{
	background: lightBlue;
	
	border:0;
	font-weight: 700;
	cursor: pointer;
	
	
}
.about-button:hover{
	position:relative;
	bottom:50px;
	width:100%;
	height:50px;
	
	
}

.about-button:hover:after
{ 
	content:'  APaX este un instrument Web de vizualizare adecvata si de comparare multi-criteriala a datelor publice privind parcul auto din Romania pe ultimii 5 ani. ' ;
	text-align:right;
	
}

@media screen and (max-width:420px)
{
	
	div.tabelul{
	
	position:absolute;
	top:750px;
	
} 
table {
display:block;
}

table th
{ 	 
display:block;
}

table td
{ 	
display:block;

}

table tr{
	display:block;
}

div.descriere-tabel{
	position:absolute;
	margin-left:0px;
	margin-top:530px;
	
	
}

logo{
	 position: absolute;
    right: 0;
    top: 0;
	
}
.header-right{
	float:left;
}

.formular
{position:absolute;
	float:left;
	text-align:left;
}


div.form-judet
  {
	  position:absolute;
	text-align:left;
	float:left;
	margin-top:250px;
	margin-left:0;

	 
  }
  
  
  div.form-marca
  {
	
	 position:absolute;
	text-align:left;
	float:left;
	margin-top:300px;
	margin-left:0;
	  
	  
	  
   }
   
   
   
  
  div.form-categorie
  {position:absolute;
	text-align:left;
	float:left;
	margin-top:300px;
	margin-left:0;
   }
  
  div.form-an
  {
	 
	  position:absolute;
	text-align:left;
	float:left;
	margin-top:395px;
	margin-left:0;
  }
  
  input[type=submit]
{position:relative;
	
	margin-top:250px;
	margin-left:0;
	float:left;
	text-align:left;
}
  

}


@media screen and (max-width:320px)

{
	
	div.tabelul{
	
	position:absolute;
	top:960px;
	
} 
	div.descriere-tabel{
	position:absolute;
	margin-left:0px;
	margin-top:730px;
	
	
}
	div.form-judet
  {
	  position:absolute;
	text-align:left;
	float:left;
	top:250px;
	
	 margin-left:0px;
	margin-right:0px;
  }
  
  
  div.form-marca
  {
	
	 position:absolute;
	text-align:left;
	float:left;
	top:300px;
	 
	  
	  margin-left:0px;
	margin-right:0px;
	  
   }
   
   
   
  
  div.form-categorie
  {position:absolute;
	text-align:left;
	float:left;
	top:400px;
	margin-left:0px;
	margin-right:0px;
   }
  
  div.form-an
  {
	 
	  position:absolute;
	text-align:left;
	float:left;
	margin-top:600px;
	margin-left:0px;
	margin-right:0px;
  }
  
  input[type=submit]
{
	position:relative;
	text-align:left;
	float:left;
	margin-top:400px;
	margin-left:0px;
	
}
}




@media screen and  (min-width: 421px) and  (max-width:549px)

{
	div.descriere-tabel{
	
	margin-top:400px;
	margin-left:0;
	
}
	table {
display:block;
}

table th
{ 	 
display:block;
}

table td
{ 	
display:block;

}

table tr{
	display:block;
}
	.formular
{position:absolute;
	float:center;
	text-align:center;
}


div.form-judet
  {
	  position:absolute;
	text-align:left;
	float:left;
	margin-top:50px;
	margin-left:0;

	 
  }
  
  
  div.form-marca
  {
	
	 position:relative;
	text-align:left;
	float:left;
	margin-top:-35px;
	margin-left:0;
	  
	  
	  
   }
   
   
   
  
  div.form-categorie
  {position:absolute;
	text-align:left;
	float:left;
	margin-top:150px;
	margin-left:0;
   }
  
  div.form-an
  {
	 
	  position:absolute;
	text-align:left;
	margin-left:0px;
	margin-top:300px;
	

	
	
  }
  
  input[type=submit]
{position:relative;
	
	margin-top:270px;
	margin-left:0;
	float:left;
	text-align:left;
}
  

}
	
@media screen and  (min-width: 550px) and  (max-width:767px)

{
	div.descriere-tabel{
	
	margin-top:400px;
	margin-left:0;
	
}

	div.tabelul{
	overflow-x:auto;
}
.formular
{position:absolute;
	float:center;
	text-align:center;
}


div.form-judet
  {
	  position:absolute;
	text-align:left;
	float:left;
	margin-top:50px;
	margin-left:0;

	 
  }
  
  
  div.form-marca
  {
	
	 position:relative;
	text-align:left;
	float:left;
	margin-top:-35px;
	margin-left:0;
	  
	  
	  
   }
   
   
   
  
  div.form-categorie
  {position:absolute;
	text-align:left;
	float:left;
	margin-top:150px;
	margin-left:0;
   }
  
  div.form-an
  {
	 
	  position:absolute;
	text-align:left;
	margin-left:0px;
	margin-top:300px;
	

	
	
  }
  
  input[type=submit]
{position:relative;
	
	margin-top:270px;
	margin-left:0;
	float:left;
	text-align:left;
}
  

	
}
	@media screen and  (min-width: 768px) and  (max-width:1023px)

{
	
	div.tabelul{
	
	position:relative;
	top:230px;
	overflow-x:auto;
}

	div.descriere-tabel{
	position:absolute;
	margin-left:320px;
	margin-top:230px;
	
	
}
	
	.formular
{position:absolute;
	float:center;
	text-align:center;
}


div.form-judet
  {
	  position:absolute;
	text-align:left;
	float:left;
	margin-top:10px;
	margin-left:0;

	 
  }
  
  
  div.form-marca
  {
	
	 position:absolute;
	text-align:left;
	float:center;
	margin-top:45px;
	
	margin-left:400px;
	
	  
	  
	  
   }
   
   
   
  
  div.form-categorie
  {position:absolute;
	text-align:left;
	float:left;
	margin-top:65px;
	margin-left:0;
   }
  
  div.form-an
  {
	 
	  position:absolute;
	text-align:left;
	float:left;
	margin-top:40px;
	margin-left:400px;
  }
  
  input[type=submit]
{position:absolute;
	
	margin-top:300px;
	margin-left:300px;
	
}
  

}
	

@media screen and  (min-width: 1024px) and  (max-width:1354px)

{
	div.tabelul{
	
	position:relative;
	top:230px;
	overflow-x:auto;
}
	
	div.descriere-tabel{
	position:absolute;
	margin-left:460px;
	margin-top:230px;
	
	
}
	.formular
{position:absolute;
	float:center;
	text-align:center;
}


div.form-judet
  {
	  position:absolute;
	text-align:left;
	float:left;
	margin-top:10px;
	margin-left:100px;

	 
  }
  
  
  div.form-marca
  {
	
	 position:absolute;
	text-align:left;
	float:center;
	margin-top:45px;
	
	margin-left:500px;
	
	  
	  
	  
   }
   
   
   
  
  div.form-categorie
  {position:absolute;
	text-align:left;
	float:left;
	margin-top:65px;
	margin-left:100px;
   }
  
  div.form-an
  {
	 
	  position:absolute;
	text-align:left;
	float:left;
	margin-top:40px;
	margin-left:500px;
  }
  
  input[type=submit]
{position:absolute;
	
	margin-top:300px;
	margin-left:400px;
	
}
  

}