body {
    font-family: 'Roboto', sans-serif;
    color: #0099CC;
    background-color: #f0f2f0;
}


.dark-mode {
    background-color: black;
    color: white;
}

/*
header {
height:75px;

    width:100%;
  overflow:hidden;
  background:  lightBlue;
  
}


header a {
	background:  lightBlue;
	float: left;
  text-align: center;
  padding:20px 10px;
  text-decoration: none;
  font-size: 22px;
  line-height: 35px;
  color:DarkSlateGray;
  font-family:Georgia;
   
}
.header-right {
	
  float: right;
 
}
*/
header {
    width: 100%;
    overflow: hidden;
   /* background: lightBlue;
       background-color: #05ACD3;
    background-color: #1d65a6;
    background-color: #05ACD3;*/
    background-color:  #0099CC;
    border-radius: 10px ;

}

header a {
    float: left;
    text-align: center;
    padding: 30px 10px;
    text-decoration: none;
    font-size: 22px;
    line-height: 15px;
    /*color: DarkSlateGray;*/
    color: #e8ffca;
    transition-duration: 0.4s;
    border-radius: 10px ;
}

header a:hover {
    background-color:  #003399;
    opacity: 0.2;


}

.header-right {
    float: right;

}

.logo {

    border: 0;
    padding: 0;
    margin-bottom: 0;

}

.logoimg {
    width: 90px;
    height: 75px;
}

a:hover {
    background-color: LightSteelBlue;
}

div.tabelul {

    position: relative;
    margin-top: 20px;
    /*overflow-x:auto;*/


}

/*
table {
	 
display:block;
	 padding-top: 12px;
  padding-bottom: 12px;
	border: 1px solid black;
	border-collapse:collapse;
	
	  border-spacing: 0;
	position:relative;
	float:center;
	margin:auto;
	
	
	
	
}
table th
{ 	 
display:block;
background-color:lightBlue;
padding-top: 12px;
  padding-bottom: 12px;
  padding-left:12px;
  padding-right:12px;
border: 1px solid #ddd;
  color: DarkSlateGray;
  
	
}

table td
{ 
		
	display:block;
	padding-top: 10px;
  padding-bottom: 10px;
  padding-left:10px;
  padding-right:10px;
	border: 1px solid #ddd;
	color:DarkSlateGray;
}

table tr{
	display:block;
	
	
	
	
}
*/


table {


    padding-top: 12px;
    padding-bottom: 12px;

    border-collapse: collapse;

    border-spacing: 0;
    position: relative;
    float: center;
    margin: auto;


}

table th {


    background-color: lightBlue;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 12px;
    padding-right: 12px;
    border: 1px solid #ddd;


}

table td {


    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid #ddd;

}


div.descriere-tabel {
    font-size: 13px;
    position: relative;
    margin-left: 750px;
    margin-top: 10px;

}

div.formular {
    position: relative;
    top: 10px;
    margin: auto;
    width: 50%;
    padding: 10px;
    font-size: 17px;
    line-height: 35px;

    text-decoration-style: solid;
}

.form {
    position: relative;
    top: 10px;
    left: 10px;


}

div.form-judet {

    margin-left: 250px;

}


div.form-marca {

    position: absolute;
    top: 137px;
    margin-left: 670px;

}

div.form-categorie {
    margin-left: 250px;
    text-align: left;

}

div.form-an {
    position: absolute;
    top: 194px;

    margin-left: 670px;

}


input[type=submit] {
    position: relative;
    top: 10px;
    background-color: #c1e9ff;
    font-size: 17px;
    border-radius: 6px;
    /*width: 10%;*/
    padding: 10px 20px;
    margin: 10px 610px;
    cursor: pointer;
    border-style: 1px solid;
    border-color: DarkSlateGray;
    transition-duration: 0.4s;
}

input[type=submit]:hover {
    background-color: #e5e3ff;
}

input[type=text], select {
    width: 170px;
    padding: 10px 10px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 15px
}

input[id=an] {

    width: 210px;

}

#top {

    position: fixed;
    bottom: 40px;
    right: 10px;
    background-color: lightBlue;

    font-size: 10px;
    border-radius: 6px;

    padding: 10px 10px;

    cursor: pointer;
    border-style: 1px solid;
    border-color: DarkSlateGray;
}

.about {

    position: fixed;
    bottom: 0;
    /*
    background-color: #8ebfed;*/
    background-color:  #0099CC;
    margin-top: 100px;

    cursor: pointer;
    height: 30px;
    font-weight: 700;
    left: 0;
    line-height: 35px;
    text-align: center;
    width: 100%;
    color: #e8ffca;

}

.about-button {
   /* background-color: #8ebfed;*/
    background-color:  #0099CC;
    border: 0;
    font-size: medium;
    font-weight: 600;
    cursor: pointer;
    color: #e8ffca;
    width: 100%;

}

.about-button:hover {
    position: relative;
    bottom: 50px;
    width: 100%;
    height: 50px;
    transition: 10s;


}

.about-button:hover:after {
    content: '  APaX este un instrument Web de vizualizare adecvata si de comparare multi-criteriala a datelor publice privind parcul auto din Romania pe ultimii 5 ani. ';
    text-align: right;
    width: 100%;
    transition: ease-in-out;
}

@media screen and (max-width: 420px) {

    div.tabelul {

        position: absolute;
        top: 750px;

    }

    table {
        display: block;
    }

    table th {
        display: block;
    }

    table td {
        display: block;

    }

    table tr {
        display: block;
    }

    div.descriere-tabel {
        position: absolute;
        margin-left: 0px;
        margin-top: 530px;


    }

    logo {
        position: absolute;
        right: 0;
        top: 0;

    }

    .header-right {
        float: left;
    }

    .formular {
        position: absolute;
        float: left;
        text-align: left;
    }


    div.form-judet {
        position: absolute;
        text-align: left;
        float: left;
        margin-top: 250px;
        margin-left: 0;


    }


    div.form-marca {

        position: absolute;
        text-align: left;
        float: left;
        margin-top: 300px;
        margin-left: 0;


    }


    div.form-categorie {
        position: absolute;
        text-align: left;
        float: left;
        margin-top: 300px;
        margin-left: 0;
    }

    div.form-an {

        position: absolute;
        text-align: left;
        float: left;
        margin-top: 395px;
        margin-left: 0;
    }

    input[type=submit] {
        position: relative;

        margin-top: 250px;
        margin-left: 0;
        float: left;
        text-align: left;
    }


}


@media screen and (max-width: 320px) {

    div.tabelul {

        position: absolute;
        top: 960px;

    }

    div.descriere-tabel {
        position: absolute;
        margin-left: 0px;
        margin-top: 730px;


    }

    div.form-judet {
        position: absolute;
        text-align: left;
        float: left;
        top: 250px;

        margin-left: 0px;
        margin-right: 0px;
    }


    div.form-marca {

        position: absolute;
        text-align: left;
        float: left;
        top: 300px;


        margin-left: 0px;
        margin-right: 0px;

    }


    div.form-categorie {
        position: absolute;
        text-align: left;
        float: left;
        top: 400px;
        margin-left: 0px;
        margin-right: 0px;
    }

    div.form-an {

        position: absolute;
        text-align: left;
        float: left;
        margin-top: 600px;
        margin-left: 0px;
        margin-right: 0px;
    }

    input[type=submit] {
        position: relative;
        text-align: left;
        float: left;
        margin-top: 400px;
        margin-left: 0px;

    }
}


@media screen and  (min-width: 421px) and  (max-width: 549px) {
    div.descriere-tabel {

        margin-top: 400px;
        margin-left: 0;

    }

    table {
        display: block;
    }

    table th {
        display: block;
    }

    table td {
        display: block;

    }

    table tr {
        display: block;
    }

    .formular {
        position: absolute;
        float: center;
        text-align: center;
    }


    div.form-judet {
        position: absolute;
        text-align: left;
        float: left;
        margin-top: 50px;
        margin-left: 0;


    }


    div.form-marca {

        position: relative;
        text-align: left;
        float: left;
        margin-top: -35px;
        margin-left: 0;


    }


    div.form-categorie {
        position: absolute;
        text-align: left;
        float: left;
        margin-top: 150px;
        margin-left: 0;
    }

    div.form-an {

        position: absolute;
        text-align: left;
        margin-left: 0px;
        margin-top: 300px;


    }

    input[type=submit] {
        position: relative;

        margin-top: 270px;
        margin-left: 0;
        float: left;
        text-align: left;
    }


}

@media screen and  (min-width: 550px) and  (max-width: 767px) {
    div.descriere-tabel {

        margin-top: 400px;
        margin-left: 0;

    }

    div.tabelul {
        overflow-x: auto;
    }

    .formular {
        position: absolute;
        float: center;
        text-align: center;
    }


    div.form-judet {
        position: absolute;
        text-align: left;
        float: left;
        margin-top: 50px;
        margin-left: 0;


    }


    div.form-marca {

        position: relative;
        text-align: left;
        float: left;
        margin-top: -35px;
        margin-left: 0;


    }


    div.form-categorie {
        position: absolute;
        text-align: left;
        float: left;
        margin-top: 150px;
        margin-left: 0;
    }

    div.form-an {

        position: absolute;
        text-align: left;
        margin-left: 0px;
        margin-top: 300px;


    }

    input[type=submit] {
        position: relative;

        margin-top: 270px;
        margin-left: 0;
        float: left;
        text-align: left;
    }


}

@media screen and  (min-width: 768px) and  (max-width: 1023px) {

    div.tabelul {

        position: relative;
        top: 230px;
        overflow-x: auto;
    }

    div.descriere-tabel {
        position: absolute;
        margin-left: 320px;
        margin-top: 230px;


    }

    .formular {
        position: absolute;
        float: center;
        text-align: center;
    }


    div.form-judet {
        position: absolute;
        text-align: left;
        float: left;
        margin-top: 10px;
        margin-left: 0;


    }


    div.form-marca {

        position: absolute;
        text-align: left;
        float: center;
        margin-top: 45px;

        margin-left: 400px;


    }


    div.form-categorie {
        position: absolute;
        text-align: left;
        float: left;
        margin-top: 65px;
        margin-left: 0;
    }

    div.form-an {

        position: absolute;
        text-align: left;
        float: left;
        margin-top: 40px;
        margin-left: 400px;
    }

    input[type=submit] {
        position: absolute;

        margin-top: 300px;
        margin-left: 300px;

    }


}


@media screen and  (min-width: 1024px) and  (max-width: 1354px) {
    div.tabelul {

        position: relative;
        top: 230px;
        overflow-x: auto;
    }

    div.descriere-tabel {
        position: absolute;
        margin-left: 460px;
        margin-top: 230px;


    }

    .formular {
        position: absolute;
        float: center;
        text-align: center;
    }


    div.form-judet {
        position: absolute;
        text-align: left;
        float: left;
        margin-top: 10px;
        margin-left: 100px;


    }


    div.form-marca {

        position: absolute;
        text-align: left;
        float: center;
        margin-top: 45px;

        margin-left: 500px;


    }


    div.form-categorie {
        position: absolute;
        text-align: left;
        float: left;
        margin-top: 65px;
        margin-left: 100px;
    }

    div.form-an {

        position: absolute;
        text-align: left;
        float: left;
        margin-top: 40px;
        margin-left: 500px;
    }

    input[type=submit] {
        position: absolute;

        margin-top: 300px;
        margin-left: 400px;

    }

}

/*
 VIZUALIZARE STATISTICI-formular statistici
 */
.formular2 {
    /*background-color: #d3edfa;*/
    background-color: #e8ffca;
    position: relative;
    top: 10px;
    margin: auto;
    width: 100%;
    padding: 5px;
    font-size:23px;
    font-weight: 100;
    line-height: 30px;
    text-decoration-style: solid;
    border-radius: 10px;
    text-align: center;
}

.form-statistici {
   /* background-color: #d3edfa;*/
    background-color: #e8ffca;
    border-radius: 20px;
    padding: 1px;
}
.form-statistici .form-judet {
    margin-left: 40px;
    margin-top: 20px;
    font-size: 20px;
}
.form-statistici .form-judet .oras {
    background-color: #fafadc;
    text-align: center;
    margin-left: 10px;
    color: #0e1499;


}
.form-statistici .form-judet .oras:hover, .form-statistici .form-categorie .categorie:hover, .form-statistici .form-marca .marca:hover, .form-statistici .form-an .an:hover, .form-statistici .form-descriere .descriere:hover{
    border-radius: 40px;
    background-color: #e3e8fd;
    transition: 4ms ;
    cursor: pointer;
}
.form-statistici .form-categorie {
    margin-left: 40px;
    margin-top: 30px;
    font-size: 20px;
}
.form-statistici .form-categorie .categorie {
    color:  #003399;
    background-color: #fafadc;
    text-align: center;
    margin-left: 10px;
}
.form-statistici .form-marca {
    margin-left: 1120px;

    font-size: 20px;
}
.form-statistici .form-marca .marca {
    color:  #003399;
    background-color: #fafadc;
    text-align: center;
    margin-left: 10px;
}
.form-statistici .form-an {
    margin-left: 1120px;
    margin-top: 30px;
    font-size: 20px;
}
.form-statistici .form-an .an {
    color:  #003399;
    background-color: #fafadc;
    text-align: center;
    margin-left: 10px;
}
.form-statistici .form-descriere {
    margin-top: -100px;
    margin-left: 550px;
    font-size: 20px;
}
.form-statistici .form-descriere .descriere {
    color:  #003399;
    background-color: #fafadc;
    text-align: center;
    margin-left: 10px;
}
.form-statistici .submit-filtre {
    margin-left: 690px;
    background-color: #0099CC;
    padding: 10px;
    color: #e8ffca;
    border: #a2e9ff;


}
.submit-filtre:hover{
    width: 150px;
    transition: 2ms ;
    margin-left: 675px;
    border-radius: 20px;
    background-color: #e8ffca;
    color:  #003399;
    opacity: 2;
}

.submit-filtre:hover::after{
    margin-left: 700px;
    transition: border-radius 5ms ease-out;
    height: 4px;
    width: 10px;
    overflow: hidden;
    position: absolute;
    align-content: center;
    background-color: #e8ffca;
}
.filtre-button {
    margin-bottom: 10px;
}

/*
 VIZUALIZARE STATISTICI-chart
 */
.chart {
    max-width: 50%;
}

.chart .exemplu {
    max-width: 300px;
    max-height: 300px;
    margin-left: 1000px;
    margin-top: -500px;
}

.diagrama {
    max-width: 50%;
    width: 100%;
    padding: 5px;
    font-size: 25px;
    line-height: 20px;
    text-shadow: 2px 2px #e5e3ff;
    border-radius: 10px;
    text-align: left;

}

.diagrama .format-button .radiala, .diagrama .format-button .coloana, .diagrama .format-button .linie   {
    cursor: pointer;
    font-size: 25px;
    padding: 10px 20px;
    text-align: center;
    border-radius: 7px;
    transition-duration: 0.4s;
    background-color: #0099CC;
    color: #e8ffca;
    border: #a2e9ff;

}
.diagrama .format-button .coloana, .diagrama .format-button .linie{
    margin-left: 35px;
}
.diagrama .format-button .radiala:hover{
    background-color: #ffafe9;
    color: #0099CC;
    border-radius: 50px;
}

.diagrama .format-button .coloana:hover{
    background-color: #ffa7bf;
    color: #0099CC;
    border-radius: 50px;
}

.diagrama .format-button .linie:hover{
    background-color: #ddb5ff;
    color: #0099CC;
    border-radius: 50px;
}
.descarcare {
    max-width: 50%;
    width: 100%;
    padding: 5px;
    font-size: 25px;
    line-height: 20px;
    text-shadow: 2px 2px #e5e3ff;
    border-radius: 10px;
    text-align: left;

}

.descarcare .descarcare-button .csv, .descarcare .descarcare-button .web , .descarcare .descarcare-button .svg {
    cursor: pointer;
    font-size: 25px;
    padding: 10px 20px;
    text-align: center;
    border-radius: 7px;
    transition-duration: 0.4s;
    background-color: #0099CC;
    color: #e8ffca;
    border: #a2e9ff;


}
.descarcare .descarcare-button .csv:hover
{
    background-color: #ffafe9;
    color: #0099CC;
    border-radius: 50px;

}
.descarcare .descarcare-button .web , .descarcare .descarcare-button .svg{
    margin-left: 35px;
}

.descarcare .descarcare-button .web:hover
{
    background-color: #ffa7bf;
    color: #0099CC;
    border-radius: 50px;

}

.descarcare .descarcare-button .svg:hover
{
    background-color: #ddb5ff;
    color: #0099CC;
    border-radius: 50px;
}

.puncte
{
    padding-top: 10px;
}
